.audit-table-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

.table-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
    padding: 10px;
    margin: 0 auto;
}

.audit-table{
  background: #eaeaea;
  color: black;
  padding: 5px;
  border-radius: 10px;
  border-collapse: collapse;
  max-width: 100%;
  min-width: 100%;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  font-size: 18px;
}


.t-head {
    background-color: #f3f4f6;
    font-weight: bold;
    font-size: 20px;
}

.t-head th {
    padding: 12px;
    border-bottom: 3px solid black; 
}

.t-body td {
    padding: 10px;
}

.t-body tr {
    margin-top: 10px;
}
  
  .audit-table tr:last-child td {
    border-bottom: none;
  }

  
  