.audit-table-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

.table-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
    padding: 10px;
    margin: 0 auto;
}

.t-head {
    background-color: #f3f4f6;
    font-weight: bold;
    font-size: 20px; /* Memperbesar font header */
}

.t-head th {
    padding: 12px;
    border-bottom: 3px solid black; /* Menambahkan border bawah hitam */
}

.t-body td {
    padding: 10px;
}

.t-body tr {
    margin-top: 10px; /* Memberikan jarak antara baris dalam tbody */
}
  
  .audit-table th {
    background-color: #f3f4f6;
    color: black;
    text-align: left;
    font-weight: bold;
  }
  
  .audit-table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
  }
  
  .audit-table tr:last-child td {
    border-bottom: none;
  }

  
  