.dashboard {
    min-height: 100vh;
    background-color: #eaeaea;
    width: 1920px;
    height: 1080px;
    display: flex;
  }
  
  .main-content {
    flex-grow: 1;
    margin-left: 280px; /*width navgation 250 */
    padding: 16px;
    transition: margin-left 0.3s ease;
  }
  
  .navigation-bar.minimized + .main-content {
    margin-left: 110px; /*width navgation 80 */
  }
  
  .Title {
    color: #263754;
  }