.dashboard_att {
    width: 100vw;
    height: 100vh;
    background-color: #eaeaea;
    all:16px;
    overflow: hidden;
}

.title {
    margin: 20px;
    margin-bottom: 40px;
    color: #263754;
    height: 50px;
    text-align: left;
}

.main-content {
    margin-left: 280px;
    padding: 20px;
    height: 630px;
}

.edit-do-container{
    background: #ffffff;
    border-radius: 20px;
    padding: 20px;
    height: 100%;
    overflow-y: auto;
}


