.dashboard_a {
    width: 100vw;
    height: 100vh;
    background-color: #eaeaea;
    all:16px;
    overflow: hidden;
}

.title {
    margin: 20px;
    margin-bottom: 40px;
}

.action-button-save {
    color: green;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.action-button-delete {
    color: red;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.action-button-exit {
    color: orange;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.main-content {
    margin-left: 280px;
    padding: 20px;
    overflow: hidden;
}

.edit-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.edit-actions {
    display: flex;
    gap: 5px;
}

.edit-do-container{
    background: #ffffff;
    border-radius: 20px;
    padding: 30px;
    height: 850px;
}

.tab-menu{
    display: flex;
    gap: 60px;
    padding-bottom: 20px;
}

  .tab-active{
    color: #ffffff;
    background-color: #0070c0;
    width: 180px;
  }

  .tab{
    color: #ffffff;
    background-color: #A0AEC0;
    width: 180px;
  }

.table-content.empty {
    background-color: #eaeaea;
    border: none;
    width: 100%;
}

.table-content.filled {
    background: white;
    border-radius: 8px;
    padding: 10px;
}




