.navigation-bar {
    position: fixed;
    left: 16px;
    top: 16px;
    bottom: 16px;
    width: 300px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  
  .logo-container {
    padding: 16px;
    margin: 30px;
    width: 100%;
  }
  
  .logo {
    max-width: 70%;
    height: auto;
  }
  
  .nav-menu {
    flex: 1;
    padding: 8px;
    overflow: hidden;
  }
  
  .menu-item {
    margin-bottom: 4px;
    overflow: hidden;
  }
  
  .menu-button {
    width: 100%;
    overflow: hidden;
    text-align: left;
    padding: 10px 15px;
    background-color: #f7f7f7;
    border: none;
    min-height: 60px;
    font-size: 15px;
    font-weight: 500;
    color: #000000ad;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 5px;
  }
  
  .menu-button:hover {
    background-color: #eaeaea;
    border-radius: 10px;
    outline: none;
  }

  .menu-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    margin-right: 12px;
  }
  
  .menu-title {
    flex: 1;
  }
  
  .menu-button.active {
    background-color: #263754;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    outline: none;
  }
  
  .chevron {
    rotate: -90deg;
    transition: transform 0.3s ease;
  }
  
  .chevron.rotated {
    transform: rotate(90deg);
  }
  
  .submenu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    border-radius: 10px;
    opacity: 0;
    margin-left: 0px;
  }
  
  .submenu.expanded {
    max-height: 200px;
    opacity: 1;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .submenu-item {
    display: flex;  
    align-items: center;  
    padding: 8px;
    font-size: 14px;
    background-color: #f7f7f7;
    color: #6e6e6e;
    text-decoration: none;
    border-radius: 10px;
    padding-left: 50px;
    min-height: 30px;
    margin-bottom: 5px;
}

  
  .submenu-item:hover {
    background-color: #0070C0;
    color: #ffffff;
  }
  
  .footer-links {
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
  
  .footer-link {
    font-size: 14px;
    color: #6e6e6e;
    text-decoration: none;
  }
  
  .footer-link:hover {
    color: #263754;
  }
  
  .separator {
    color: #6e6e6e;
  }
  
  