.navigation-bar {
    position: fixed;
    left: 16px;
    top: 16px;
    bottom: 16px;
    width: 250px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    transition: width 0.3s ease;
  }
  
  .navigation-bar.minimized {
    width: 80px;
  }
  
  .nav-header {
    height: 100px;
    display: flex;
    align-items: center;
    padding: 16px;
    transition: padding 0.3s ease;
  }
  
  .logo-container {
    padding: 16px;
    margin-bottom: 16px;
    margin-top: 1px;
    width: 100%;
    display: flex;
    justify-content: center;
    transition: opacity 0.3s ease;
  }
  
  .minimized .logo-container {
    opacity: 0;
  }
  
  .logo {
    max-width: 90%;
    height: auto;
  }
  
  .toggle-button {
    background-color: #ffffff;
    border: none;
    min-height: 100px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    font-size: 15px;
    color: #263754;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    padding: 7px;
    position: absolute;
    top:70%;
    right: 0;
    transform: translateX(100%);  /* Move it outside */
    z-index: 10;
}

  .toggle-button:focus {
    outline: none;
  }
  
  .nav-menu {
    flex: 1;
    padding: 8px;
    overflow: hidden;
  }
  
  .menu-item {
    margin-bottom: 4px;
    overflow: hidden;
    white-space: nowrap;
  }
  
  .menu-button {
    width: 100%;
    overflow: hidden;
    text-align: left;
    padding: 10px 15px;
    background-color: #f7f7f7;
    border: none;
    min-height: 60px;
    font-size: 15px;
    font-weight: 500;
    color: #000000ad;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 15px;
    margin-top: 5px;
    transition: all 0.2s ease;
    white-space: nowrap;
  }
  
  .menu-button:hover {
    background-color: #eaeaea;
    outline: none;
  }
  .minimized .menu-button:hover {
    background-color: #0070c0;
    color: #ffffff;
    outline: none;
  }
  
  .menu-button.active {
    background-color: #263754;
    color: rgb(255, 255, 255);
    outline: none;
  }
  
  .menu-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    margin-right: 12px;
  }
  
  .minimized .menu-button {
    justify-content: center;
    padding: 10px 0;
  }
  
  .minimized .menu-icon-container {
    margin-right: 0;
    width: 100%;
  }
  
  .menu-title {
    flex: 1;
    transition: opacity 0.3s ease;
  }
  
  .minimized .menu-title {
    opacity: 0;
    width: 0;
    height: 0;
    overflow: hidden;
  }
  
  .chevron {
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  
  .chevron.rotated {
    transform: rotate(180deg);
  }
  
  .minimized .chevron {
    opacity: 0;
    width: 0;
    height: 0;
    overflow: hidden;
  }
  
  .submenu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, all 0.3s ease;
    border-radius: 10px;
    opacity: 0;
    margin-left: 0px;
  }
  
  .submenu.expanded {
    max-height: 200px;
    opacity: 1;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: all 0.3;
  }
  
  .minimized .submenu {
    display: none;
  }
  
  .submenu-item {
    display: flex;
    align-items: center;
    padding: 8px;
    font-size: 14px;
    background-color: #f7f7f7;
    color: #6e6e6e;
    text-decoration: none;
    border-radius: 15px;
    padding-left: 50px;
    min-height: 30px;
    margin-bottom: 5px;
  }
  
  .submenu-item:hover {
    background-color: #0070c0;
    color: #ffffff;
  }
  
  .footer-links {
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    transition: opacity 0.3s ease;
    white-space: nowrap;
  }
  
  .minimized .footer-links {
    opacity: 0;
    pointer-events: none;
  }
  
  .footer-link {
    font-size: 14px;
    color: #263754;
    text-decoration: none;
  }
  
  .footer-link:hover {
    color: #0070c0;
  }
  
  .separator {
    color: #263754;
  }
  
  